{% extends "layout.html" %}
{% block content %}
<form action='/results' method = 'post'>

  <style>
    .important-paragraph{
      color:rgb(3, 7, 5)
    }
    </style>

  <p class = 'important-paragraph form-inputs'>
    <label for='sl'>Your Name: </label>
    <input type='text' name = 'user_name' id='sl'/>
  </p>

  <p class = 'important-paragraph form-inputs'>
    <label for='sw'>Input a couple sentences of a review of a product you wish you had: </label>
    <textarea id='sw' name='user_input' rows="4" cols="50">
    </textarea> 
  </p>

  

  <p> <input type='submit' value='Submit'/></p>
</form>
{% endblock content %}