{% extends "base.html" %}
{% block content %}
<form action='/results' method = 'post'>


  <div class = 'main', style="padding: 20px 25% 20px 25%;">
    <label for='sl'>Your Name: </label>
    <input type='text' name = 'user_name' id='sl'/>
 
  </div>
  <div class="main", style="padding: 20px 25% 20px 25%;">
    <label for='sw'>Input a couple sentences of a review of a product you wish you had: </label>
    <textarea id='sw' name='user_input' rows="4" cols="30">
    </textarea> 

</div>
  

  <p> <input type='submit' value='Submit'/></p>
</form>
{% endblock content %}